#titulo{
    color: teal;
}

p>strong{
    color: red;
}

span.destacado {
    color: orange;
}

#subtitulo{
    color: blue;
}

h2 + p > a {
    color: red;
}

a > em{
    color: blue;
}

table{
    border-collapse: collapse;
}

tr, th, td{
    border: 1px solid black;
}

span.especial{
    color: violet;
}

table caption{
    color: blue;
}

th[scope].especial{
    color: orange;
}

tfoot th{
    color: red;
}

th[scope=row] {
    color: red ;
}

tr td{
    color: green;
}

tr td strong{
    color: orange;
}

div#adicional{
    color: olive;
}

span#especial{
    color: fuchsia;
}

div p a {
    color: green;
}
